<div class="header" >
  <div class="title">
    <img {{action "navigateTo" "home"}}
         alt="questionnaire"
         src="/assets/images/questionnaire-icon.svg" />
    <h1>Questionnaire</h1>
  </div>
</div>
{{outlet}}
