<div class="wrapper">
  <div class="home defaultPadding">
    <h1>Hallo!</h1>
    <p>Um Dein persönliches Privathaftpflichtversicherungs-Angebot zu erstellen, benötigen wir noch ein paar Informationen von Dir.</p>
    <img alt="questionnaire"
         src="/assets/images/questionnaire-icon.svg" />
    <div>
      <div {{action "navigateTo" "questionnaire"}}
           class="button normal">
        <span>Jetzt Starten</span>
      </div>
    </div>
  </div>
</div>

